.festival {
    background: url(/client/css/themes/newYear/login.png) center no-repeat;
    background-size: cover;
}

.theme--light.v-footer {
    border-top: none;
}

.v-footer .copyright {
    color: #fff;
}